<!doctype html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DermQA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <link rel="stylesheet" href="/css/slick/slick.css">
    <link rel="stylesheet" href="/css/slick/slick-theme.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/bootsnav.css">

    <!-- xsslider slider css -->

    <link rel="stylesheet" href="/css/xsslider.css">
    <!--For Plugins external css-->
    <link rel="stylesheet" href="/css/plugins.css" />
    <!--Theme custom css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/maron.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/css/responsive.css" />

    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">
<header th:insert="common/LoginHeader.html"></header>
<div class="culmn">
    <!-- Home page style -->
    <div class="container mt-5">
        <div class="center-form">
            <!-- 질문 -->
            <div class="center-form" id="chatWindow">
                <!-- 웹소켓 연결 상태를 표시하는 라벨 -->
                <div class="col-md">
                    <div class="col-md" id="Msg">
                        <span id="websocketStatus"></span>
                        <hr width="0%">
                        <div id="plusMsg"> </div>
                        <form action="/chat/save" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <div id="db_btn" style="display: none;">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="submit_btn">
                                            <input id="DB_upload" type="button" value="제출하기" onclick="collectChatLogAndSubmit()">
                                        </div>
                                    </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="options"></div>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="messageInput" placeholder="채팅을 입력하세요">
                                    <hr width="100%">
                                    <input type="button" value="대화 종료" class="btn-submit" onclick="collectChatLogAndSubmit()">
                                </div>

                                <div class="col-sm-1">
                                    <label for="boardFile" class="btn no-border-square">📎</label>
                                    <input type="file" class="form-control-file" id="boardFile" name="boardFile" accept="image/*" style="display: none;" onchange="sendImage(this)">
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-primary" onclick="sendMessage(event)">전송</button>
                                </div>
                            </div>
                            <div style="display: none;">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="boardWriter" name="boardWriter" th:value="chatGPT" readonly/>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="boardPass" name="boardPass" th:value="chatGPT" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="boardTitle">Title</label>
                                    <input type="text" class="form-control" id="boardTitle" name="boardTitle" th:value="chat_log" required>
                                </div>
                                <div class="form-group">
                                    <label for="boardContents">Contents</label>
                                    <textarea class="form-control" id="boardContents" name="boardContents" cols="30" rows="10" required></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- JS includes -->
<script src="/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/css/slick/slick.js"></script>
<script src="/css/slick/slick.min.js"></script>
<script src="/js/jquery.collapse.js"></script>
<script src="/js/bootsnav.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/map.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>