<nav class="navbar navbar-default bootsnav navbar-fixed">


        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" class="logo" alt="">
                <!--<img src="/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
            </a>

        </div>

        <!-- End Header Navigation -->

        <!-- navbar menu -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="userId">id: <span th:text="${member?.loginId}"></span></a></li>
                <li>
                    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;"></form>
                    <a href="#" id="logoutLink">Log out</a>
                </li>

                <li><a href="home.html" th:href="@{/members/myPage}">MyPage</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/board/paging">QA-board</a></li>
                <li><a class="nav-link" href="/main/map">Map</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>

</nav>
<!--Featured Section-->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="main_features fix roomy-70">
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">

                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Featured Section-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#logoutLink').click(function(e) {
        e.preventDefault();
        $('#logoutForm').submit();
    });
</script>